@page
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sau</title>
    <link rel="stylesheet" href="css/Index.css">
</head>

<text id="elapsedTime" style="position: absolute;left: 850;top: 10; color: white; background-color: black;z-index: 100"></text>
<text id="state" style="position: absolute;left: 550;top: 10; color: white; background-color: black;z-index: 100"></text>

@* Canvas coordinate numbering *@
<text class="coordinate-numbers" style="position: absolute;left: 100;top: 50;z-index: 100">100</text>
<text class="coordinate-numbers" style="position: absolute;left: 200;top: 50;z-index: 100">200</text>
<text class="coordinate-numbers" style="position: absolute;left: 300;top: 50;z-index: 100">300</text>
<text class="coordinate-numbers" style="position: absolute;left: 400;top: 50;z-index: 100">400</text>
<text class="coordinate-numbers" style="position: absolute;left: 500;top: 50;z-index: 100">500</text>
<text class="coordinate-numbers" style="position: absolute;left: 600;top: 50;z-index: 100">600</text>
<text class="coordinate-numbers" style="position: absolute;left: 700;top: 50;z-index: 100">700</text>
<text class="coordinate-numbers" style="position: absolute;left: 800;top: 50;z-index: 100">800</text>
<text class="coordinate-numbers" style="position: absolute;left: 900;top: 50;z-index: 100">900</text>
<text class="coordinate-numbers" style="position: absolute;left: 1000;top: 50;z-index: 100">1000</text>

<text class="coordinate-numbers" style="position: absolute;left: 50;top: 100;z-index: 100">100</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 200;z-index: 100">200</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 300;z-index: 100">300</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 400;z-index: 100">400</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 500;z-index: 100">500</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 600;z-index: 100">600</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 700;z-index: 100">700</text>
<text class="coordinate-numbers" style="position: absolute;left: 50;top: 800;z-index: 100">800</text>

<canvas id="canvas" height="900" width="1000" class="canvas-style" style="position: absolute;left: 0;top: 0;z-index: -1">
</canvas>

@* Canvas lines *@
<svg height="1000" width="1000" style="position: absolute;left: 0;top: 0">
    <line x1="0" y1="0" x2="0" y2="900" class="canvas-line"/>
    <line x1="50" y1="0" x2="50" y2="900" class="canvas-line"/>
    <line x1="100" y1="0" x2="100" y2="900" class="canvas-line"/>
    <line x1="150" y1="0" x2="150" y2="900" class="canvas-line"/>
    <line x1="200" y1="0" x2="200" y2="900" class="canvas-line"/>
    <line x1="250" y1="0" x2="250" y2="900" class="canvas-line"/>
    <line x1="300" y1="0" x2="300" y2="900" class="canvas-line"/>
    <line x1="350" y1="0" x2="350" y2="900" class="canvas-line"/>
    <line x1="400" y1="0" x2="400" y2="900" class="canvas-line"/>
    <line x1="450" y1="0" x2="450" y2="900" class="canvas-line"/>
    <line x1="500" y1="0" x2="500" y2="900" class="canvas-line"/>
    <line x1="550" y1="0" x2="550" y2="900" class="canvas-line"/>
    <line x1="600" y1="0" x2="600" y2="900" class="canvas-line"/>
    <line x1="650" y1="0" x2="650" y2="900" class="canvas-line"/>
    <line x1="700" y1="0" x2="700" y2="900" class="canvas-line"/>
    <line x1="750" y1="0" x2="750" y2="900" class="canvas-line"/>
    <line x1="800" y1="0" x2="800" y2="900" class="canvas-line"/>
    <line x1="850" y1="0" x2="850" y2="900" class="canvas-line"/>
    <line x1="900" y1="0" x2="900" y2="900" class="canvas-line"/>
    <line x1="950" y1="0" x2="950" y2="900" class="canvas-line"/>
    <line x1="1000" y1="0" x2="1000" y2="900" class="canvas-line"/>

    <line y1="0" x1="0" y2="0" x2="1000" class="canvas-line"/>
    <line y1="50" x1="0" y2="50" x2="1000" class="canvas-line"/>
    <line y1="100" x1="0" y2="100" x2="1000" class="canvas-line"/>
    <line y1="150" x1="0" y2="150" x2="1000" class="canvas-line"/>
    <line y1="200" x1="0" y2="200" x2="1000" class="canvas-line"/>
    <line y1="250" x1="0" y2="250" x2="1000" class="canvas-line"/>
    <line y1="300" x1="0" y2="300" x2="1000" class="canvas-line"/>
    <line y1="350" x1="0" y2="350" x2="1000" class="canvas-line"/>
    <line y1="400" x1="0" y2="400" x2="1000" class="canvas-line"/>
    <line y1="450" x1="0" y2="450" x2="1000" class="canvas-line"/>
    <line y1="500" x1="0" y2="500" x2="1000" class="canvas-line"/>
    <line y1="550" x1="0" y2="550" x2="1000" class="canvas-line"/>
    <line y1="600" x1="0" y2="600" x2="1000" class="canvas-line"/>
    <line y1="650" x1="0" y2="650" x2="1000" class="canvas-line"/>
    <line y1="700" x1="0" y2="700" x2="1000" class="canvas-line"/>
    <line y1="750" x1="0" y2="750" x2="1000" class="canvas-line"/>
    <line y1="800" x1="0" y2="800" x2="1000" class="canvas-line"/>
    <line y1="850" x1="0" y2="850" x2="1000" class="canvas-line"/>
    <line y1="900" x1="0" y2="900" x2="1000" class="canvas-line"/>

    <line x1="850" y1="750" x2="1000" y2="750" style="stroke:black;stroke-width:2"/>
    <line x1="850" y1="750" x2="850" y2="900" style="stroke:black;stroke-width:2"/>

    
</svg>
<br/>
<button onclick="startStop()" style="position: absolute;left: 0;top: 901;">Start/Stop</button>
<button onclick="startStopDrones()" style="position: absolute;left: 0;top: 921;">Start/Stop drones</button>
<button onclick="toggleClearCanvas()" style="position: absolute;left: 0;top: 941;">Clear canvas on/off</button>
<button onclick="toggleSendMouse()" style="position: absolute;left: 0;top: 961;">Use mouse on/off</button>
<button onclick="reset()" style="position: absolute;left: 100;top: 901;">Reset</button>


<text style="position: absolute;left: 160;top:901;">Path Number</text>
<input id="setting1" min="0" max="500" value="6" type="number" style="position: absolute;left: 400;top: 901;"/>
<text style="position: absolute;left: 800;top:901;">Random Angle</text>
<input id="setting2" min="1" max="500" value="20" type="number" style="position: absolute;left: 900;top: 901;"/>
<text style="position: absolute;left: 160;top:921;">Visualization Speed</text>
<input id="setting3" min="1" max="1000" value="20" type="number" style="position: absolute;left: 400;top: 921;"/>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/main.js"></script>