@page
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sau</title>
    <link rel="stylesheet" href="css/Index.css">
</head>

<canvas id="canvas" height="1000" width="1000" class="canvas-style">
</canvas>
<br/>
<button onclick="reset()">Reset</button><input id="nrOfSheeps" min="1" max="30" type="number"/>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/main.js"></script>
